.Rproj.user
.Rhistory
.RData
vignettes/*_cache/
R/.old/
.old/
analysis/raw/*
analysis/wiggle_replication.zip
!/analysis/raw/docs
!/analysis/raw/wiggle_treatments\.csv
!/analysis/raw
*~
*#
!.gitignore
!.Rbuildignore
*.#server.R
r7padpilot.csv
wiggle.RProj