.Rproj.user
.Rhistory
.RData
vignettes/*_cache/
R/.old/
.old/
analysis/raw*
!analysis/raw/docs/*.pdf
!analysis/raw/wiggle_treatments.csv
analysis/wiggle_replication.zip
*~
*#
!.gitignore
!.Rbuildignore
*.#server.R
r7padpilot.csv
wiggle.RProj